body{
    padding-left: 12rem;
    padding-right: 12rem;
}
.img-size{
    margin-top: -17rem;
}
.border-space{
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.border-delivery{
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}
.input-field{
    border: 2px solid grey;
    border-radius: 5px;
}
.button-style{
    border-radius: 5px;
    color: white;
    background-color: orangered;
}
.line-style{
    border: 2px solid grey;
}
.price-style{
    height: 50px;
}
